<section id="FavoriteCoffee" class="offers">
  <div class="container-fluid">
    <h2 class="offers__title adaptive-title">Choose your <span>favorite</span> coffee</h2>
    <div class="offers__btn-wrapper">
      <button class="offers__btn btn-reset offers__btn-prev">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="59" height="59" rx="29.5" stroke="#665F55" />
          <path d="M36.5 30H24M24 30L30 24M24 30L30 36" stroke="#403F3D" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      <div class="swiper offers__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="offers__wrapper">
              <img src="img/offersPicture1.png" alt="slide1" class="offers__picture">
              <p class="offers__inscription">S’mores Frappuccino</p>
              <p class="offers__text">This new drink takes an espresso and mixes it with brown sugar and cinnamon before
                being topped with oat milk.</p>
              <p class="offers__price">$5.50</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="offers__wrapper">
              <img src="img/offersPicture2.png" alt="slid2" class="offers__picture">
              <p class="offers__inscription">Caramel Macchiato</p>
              <p class="offers__text">Fragrant and unique classic espresso with rich caramel-peanut syrup, with cream
                under whipped thick foam.</p>
              <p class="offers__price">$5.00</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="offers__wrapper">
              <img src="img/offersPicture3.png" alt="slide3" class="offers__picture">
              <p class="offers__inscription">Ice coffee</p>
              <p class="offers__text">A popular summer drink that tones and invigorates. Prepared from coffee, milk and
                ice.</p>
              <p class="offers__price">$4.50</p>
            </div>
          </div>
        </div>
      </div>
      <button class="offers__btn btn-reset offers__btn-next">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="59" height="59" rx="29.5" stroke="#665F55" />
          <path d="M24 30H36.5M36.5 30L30.5 24M36.5 30L30.5 36" stroke="#403F3D" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="offers__pagination swiper-pagination"></div>
  </div>
</section>
