.apps {
  background-color: #E1D4C9;


  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include big-tablet{
      align-items: center;
    }


    @include small-tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
    padding-bottom: 100px;


    @include small-tablet {
      margin-right: 50px;
    }

    @include mobile{
      margin-right: auto;
      width: 100%;
    }

    @include small-mobile {
      padding-bottom: 41px;
    }


  }

  &__right {
    padding-bottom: 100px;


    @include small-mobile {
      padding-bottom: 94px;
    }

  }

  &__title {
    margin: 0;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    max-width: 630px;
    padding-top: 142px;


    @include small-tablet {
      padding-top: 0;
    }

    span {
      color: #B0907A;
      font-style: italic;
    }
  }


  &__text {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 630px;
  }

  &__buttons {
    padding-top: 40px;
    display: flex;
    gap: 20px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__btn-link {
    display: flex;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    padding: 12px 20px;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    gap: 8px;
    background-color: #E1D4C9;
    transition: all 1s ease-in-out;


    svg {
      path {
        transition: all 1s ease-in-out;
        fill: var(--text-dark, #665F55);
      }
    }

    @include hover {
      background-color: #665F55;

      svg {
        path {
          fill: var(--light-color, #E1D4C9);
        }
      }
    }

  //   @include hover .apps__btn-text {
  //     color: var(--light-color, #E1D4C9);

  //     span {
  //       color: var(--light-color, #E1D4C9)
  //     }
  //   }
  // }

  @include hover {
    .apps__btn-text {
      color: var(--light-color, #E1D4C9);

      span {
        color: var(--light-color, #E1D4C9); // Добавленная точка с запятой
      }
    }
  }
}


  &__btn-text {
    white-space: nowrap;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    transition: all 1s ease-in-out;


    span {
      color: var(--text-dark, #403F3D);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      transition: all 1s ease-in-out;
    }
  }
}




